
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.tp-btn{
    background-color: #81d4fa;
    color: whitesmoke;
    border-style: none;
    margin-left: 25px;
    margin-top: -10px;
    padding: 10px;
    border-radius: 20px;
}
.bt-shift{
    position: absolute;
    left: 45px;
}
.space{
    height: 100px;
    width: auto;
}

.top-head{
    display: flex;
    justify-content:space-between;
    justify-items: flex-end;
    width:100%;
    top:0;
    height:75px;
    background-color: #29b6f6;
    padding: 25px;
    position:static;
}
.tp-left-items{
    display: flex;
}
