<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main_head.css">
</head>

<body>
   
    <header>
        <div class="top-box">
            <div class="logo">
                <img src="img/icons8-mastercard-logo-96.png" alt="" srcset="">
            </div>
            <div class="top-right-cont">
                <form action="includes/logout.inc.php" method="post">
                    <button class="btn_one" type="submit" name = "submit">log out</button>
                </form>
<form action="includes/checkout.inc.php" method="post">
                <button class="btn_one" type="submit" name = "submit">check out</button
            </div>
        </div>

    </header>
    <br>
    <br>
    <main>

        
    <div class="col">
    <div class="row-4">
    <div class="product">
            <div class="pic">
                <img src="images/huawei.JPG" alt="" srcset="">
            </div>
            <pre>
 2.3GHz Dual-Core Intel Core i5
 8GB onboard memory
 Configurable to 16GB of memory
 128GB PCIe-based onboard SSD
 Intel Iris Plus Graphics 640
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-1" value="1">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/mac-pro.jpg" alt="" srcset="">
            </div>
            <pre>
 Apple M1 chip
 7-core GPU
 16-core Neural Engine
 Up to 15 hours wireless web
 30W USB-C Power Adapter
 8GB
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-2" value="2">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/mac-pro 16inc.JPG" alt="" srcset="">
            </div>
            <pre>
 Apple M1 chip
 Storage: 1TB SSD
 Memory: 16GB 
 Up to 15 hours wireless web
 30W USB-C Power Adapter
 8GB
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-3" value="3">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/mac-pro 13inch.JPG" alt="" srcset="">
            </div>
            <pre>
 Apple M1 chip
 8-core GPU
 16-core Neural Engine
 Configurable to 16GB of memory
 128GB PCIe-based onboard SSD

            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-4" value="4">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
    </div>
    <br>
    <!--2nd-->
    <div class="row-4">
    <div class="product">
            <div class="pic">
                <img src="images/mac 16inc.JPG" alt="" srcset="">
            </div>
            <pre>
 2.3GHz Dual-Core Intel Core i7
 12GB onboard memory
 Configurable to 32GB of memory
 1TB onboard SSD
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-5" value="5">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/lenovo.JPG" alt="" srcset="">
            </div>
            <pre>
 Cpu AMD 3020E 1.2GHz
 Ram 4GB
 1TB HDD
 Window 10 Home SL
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-6" value="6">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/acer.JPG" alt="" srcset="">
            </div>
            <pre>
 Intel Core i3
 36GB onboard memory
 128GB PCIe-based onboard SSD
 Intel Iris Plus Graphics 640
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-7" value="7">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/huawei.JPG" alt="" srcset="">
            </div>
            <pre>
 3GHz Dual-Core Intel Core i5
 1TB of memory
 256GB PCIe-based onboard SSD
 Intel Iris Plus Graphics 640
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-8" value="8">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
    </div>
    <br>
    <div class="row-4">
    <div class="product">
            <div class="pic">
                <img src="images/acer swift.JPG" alt="" srcset="">
            </div>
            <pre>
 4GHz Dual-Core Intel Core i5
 2TB onboard memory
 Configurable to 64GB of memory
 128GB PCIe-based onboard SSD
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-9" value="9">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/lip.JPG" alt="" srcset="">
            </div>
            <pre>
Intel Celeron J4005 Processor
4GB on board Memory
14"" 1920x1080 TN LED Panel
128 GB eMMC Storage
Windows 10 Pro
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-10" value="10">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/dell xp.JPG" alt="" srcset="">
            </div>
            <pre>
 11th Intel Core i5-1135G7 
 16GB 4267MHz Memory Onboard
 512GB NVMe Solid State Drive
 Intel Iris Xe Graphics
 Display: 13.4" FHD
           </pre>
           <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-11" value="11">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/dell.JPG" alt="" srcset="">
            </div>
            <pre>
 11th Gen Intel Core i5
 16GB 4267MHz Memory 
 512GB NVMe Solid State
 Intel Iris Xe Graphics
 System: Windows 10 Homeh
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-12" value="12">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
    </div>
    <br>
    <div class="row-4">
    <div class="product">
            <div class="pic">
                <img src="images/araze.JPG" alt="" srcset="">
            </div>
            <pre>
 Intel Core i7-11800H 
 16GB Memory
 1TB SSD Storage
 NVIDIA GeForce RTX 3070 
 17.3" 4K HDR Display
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-13" value="13">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/aorus.JPG" alt="" srcset="">
            </div>
            <pre>
 Intel Core i9-10980HK 
 64GB Memory
 2TB SSD Storage
 NVIDIA GeForce RTX 3080
 15.6" 4K OLED Display
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-14" value="14">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/micro.JPG" alt="" srcset="">
            </div>
            <pre> 
 10th Intel Core i7-1065G7
 Memory: 32GB
 Storage: 512GB
 NVIDIA GeForce GTX 1660Ti
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-15" value="15">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="images/asus.JPG" alt="" srcset="">
            </div>
            <pre>
 Intel Core i5 
 64GB Memory
 200GB SSD Storage
 15.6" 4K OLED 
            </pre>
            <div class="check">
                <input  type="checkbox" id="laptop" name="laptop-16" value="16">
                <label for="laptop" style="font-weight: bold;color:#0277bd;"> Add to cart</label><br>
            </div>
        </div>
    </div>
    </div>

        
    </main>
<br>
<hr style="border-width:5px;">
</form>

   <footer>
    <div id="contact">
                <div id="address">
                <h1>contact</h1><br>
                    --- menlyn ,<br>
                    Pretoria ,<br>
                    012,<br>
                    South Africa<br>
                </div>
                <div>
                    <form action = "includes/mail.php" method = "post">
                        <input name = "name" type="text" placeholder="name" required>
                        <input name = "email" type="email" placeholder="email" required><br>
                        <textarea name = "message" placeholder="your message" required rows="5"></textarea><br>
                        <button class="btn_one" type="submit">send</button>
                    </form> 

                </div>

        </div>
        <div id="footer">
            <p>Have a nice day</p>
        </div>
   </footer>
</body>
</html>